{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <p>{{ .Content }}</p>

  <form action="/tasks" method="post">
    <label for="description">Create Task</label>
    <input id="description" type="text" name="description" autofocus />
    <button type="submit">Add Task</button>
  </form>

  <ul>
    {{ range .PageData }}
      <li>
        {{ .Description }}
        <a href="/tasks/{{ .Id }}">Edit</a>
        <form action="/tasks/{{ .Id }}" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit">Delete</button>
        </form>
      </li>
    {{ end }}
  </ul>
{{ end }}
