{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <p>{{ .Content }}</p>

  <form action="/todos" method="post">
    <label for="new-todo-description">Create Todo</label>
    <input id="new-todo-description" type="text" name="new-todo-description" autofocus>
    <button type="submit">Add Todo</button>
  </form>

  <ul>
    {{ range .PageData }}
      <li>
        {{ .Description }}
        <form action="/todos/{{ .Id }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
      </li>
    {{ end }}
  </ul>
{{ end }}
